#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}

section {
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="number"],
select {
  display: block;
  width: 100%;
  padding: 8px;
}

select,
input[type="number"] {
  border: 1px solid gray;
  border-radius: 4px;
}

input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}

button,
select,
input[type="checkbox"],
input[type="checkbox"]+label {
  cursor: pointer;
}

button {
  display: block;
  background-color: steelblue;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
}

table td {
  border: 1px solid gray;
}

table th {
  background-color: steelblue;
  color: white;
}

.urgente {
  color: red;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  table th,
  table td {
    min-width: 100px;
  }

  table th:first-child,
  table td:first-child {
    min-width: 50px;
  }
}