@import "tailwindcss";

:root {
  --base-100: white;
  --contrast-100: #555555;
  --gray: #6a7282;
  --primary: #4682b4;
  --danger: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-100: #242424;
    --contrast-100: white;
  }
}

@theme {
  --color-*: initial;
  --color-base-100: var(--base-100);
  --color-contrast-100: var(--contrast-100);
  --color-gray: var(--gray);
  --color-primary: var(--primary);
  --color-danger: var(--danger);
  --color-white: white;
  --color-black: black;
}

@layer base {
  body {
    @apply antialiased font-sans leading-1.5 font-normal;
    @apply bg-base-100 text-contrast-100;
  }

  #root {
    @apply min-h-screen;
  }
}
